.dashboard {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 12px;
  width: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 12px;
  width: 100%;
}


.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F6F6F6;
  margin: 12px;
  width: 100%;
}

.posts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 12px;
}

.title {
  text-transform: capitalize;

}

.newPost,
.new-post-form,
.login-form,
.signup-form,
.edit-post-form,
.edit-comment-form,
.comment-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 12px;
  background-color: #F6F6F6;
  padding: 23px;
}

.column {
  align-items: center;
  display: flex;
  border-radius: 12px;
}

input,
#btn,
textarea {
  width: 400px;
}

.comment-info {
  display: flex;
  flex-direction: column;
}

.meta {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23;
  font-weight: bold;
  text-decoration: underline;
}

.text {

  display: flex;
  justify-content: center;
  font-weight: bold;
  flex-direction: column;
  font-size: 12pt;
  gap: 12px;
  line-height: 12pt;
  letter-spacing: 1px;
  padding: 28px 26px 21px 26px;
  margin-right: 6px;
}

.comment {
  margin-top: 12px;
  padding: 1%;
  margin-bottom: 1%;
  background-color: #fff5eb;
  width: 600px;
}


.comment-form,
.new-post-form {
  margin-top: 70px;
}