<section class="newPost">
  <a href="/dashboard" class="is-pulled-right"> &larr; back to dashboard</a>
  <h2 class="title">create new blog post</h2>
  <hr>

  <form class="new-post-form">

    <label for="title-of-post">title:</label>

    <input class="input" type="text" id="title-of-post" name="title-of-post" placeholder="insert blog title here" />

    <label for="post">content:</label>

    <input class="textarea is-large" id="post" name="post" placeholder="inser your post" />

    <button type="submit" class="button is-primary is-pulled-right" id="btn">create post</button>

  </form>
</section>

<script src="/js/add-post.js"></script>