<article>
  <a href="/dashboard" class="is-pulled-right"> &larr; back to dashboard</a>
  <h2 class="title mt-5">edit post</h2>
  <hr>
  <form class="edit-post-form">
    <label for="title-of-post">post title:</label>
    <input class="input" name="title-of-post" type="text" value="{{posts.title}}" />
    <label for="post">post content:</label>
    <input class="textarea" name="post" type="text" value="{{posts.post}}" />
    <button type="submit" class="button is-success" id="btn">save post</button>
    <button type="button" class="button is-danger delete-post-btn" id="btn">delete post</button>

  </form>
</article>

<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>
<script src="/js/comment.js"></script>