<div class="column">
  <form class="signup-form">
    <h2 class="title pb-4">create new account:</h2>
    <label for="username-section">username:</label>
    <input type="text" id="username-section" />
    <label for="email-section">email:</label>
    <input type="text" id="email-section" />
    <label for="password-section">password:</label>
    <input type="password" id="password-section" />
    <button type="submit" class="button is-primary" id="btn">signup</button>
  </form>
</div>

<!-- javascript file-->
<script src="/js/signup.js"></script>